flows.json
[{"id":"226494b5.ba143c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a19e77b.8000b8","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/forward.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Forward Program","x":550,"y":220,"wires":[[],[],[]]},{"id":"2fc9788.28ff888","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/left.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Left Program","x":570,"y":500,"wires":[[],[],[]]},{"id":"e13381b1.05f53","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/stop.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Program","x":540,"y":300,"wires":[[],[],[]]},{"id":"fa1c5641.2c2c38","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/right.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Right Program","x":540,"y":640,"wires":[[],[],[]]},{"id":"4d8df6ad.f6cbe8","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/backward.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Backward Program","x":550,"y":380,"wires":[[],[],[]]},{"id":"b88e2400.91bba8","type":"ui_switch","z":"226494b5.ba143c","name":"","label":"Forward","tooltip":"","group":"27d45eb4.f67272","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":180,"y":260,"wires":[["69d8124c.ace3ac"]]},{"id":"69d8124c.ace3ac","type":"switch","z":"226494b5.ba143c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":260,"wires":[["5a19e77b.8000b8"],["e13381b1.05f53"]]},{"id":"bf23558d.a961d8","type":"switch","z":"226494b5.ba143c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":400,"wires":[["4d8df6ad.f6cbe8"],["3afdc37c.8d029c"]]},{"id":"3afdc37c.8d029c","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/stop.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Program","x":580,"y":440,"wires":[[],[],[]]},{"id":"2e19c3fc.968b3c","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/stop.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Program","x":580,"y":560,"wires":[[],[],[]]},{"id":"2f849890.f584b8","type":"switch","z":"226494b5.ba143c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":520,"wires":[["2fc9788.28ff888"],["2e19c3fc.968b3c"]]},{"id":"36df14a2.71c72c","type":"switch","z":"226494b5.ba143c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":660,"wires":[["fa1c5641.2c2c38"],["2e19c3fc.968b3c"]]},{"id":"f0e79c48.d17f2","type":"ui_switch","z":"226494b5.ba143c","name":"","label":"Backward","tooltip":"","group":"27d45eb4.f67272","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":180,"y":400,"wires":[["bf23558d.a961d8"]]},{"id":"d319404d.cca57","type":"ui_switch","z":"226494b5.ba143c","name":"","label":"Left","tooltip":"","group":"27d45eb4.f67272","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":520,"wires":[["2f849890.f584b8"]]},{"id":"c81d29b8.0beea8","type":"ui_switch","z":"226494b5.ba143c","name":"","label":"Right","tooltip":"","group":"27d45eb4.f67272","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":190,"y":660,"wires":[["36df14a2.71c72c"]]},{"id":"3fb9a05f.6ceff","type":"ui_switch","z":"226494b5.ba143c","name":"","label":"Start","tooltip":"","group":"7c69352b.a96ffc","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":200,"y":800,"wires":[["e7ab7c33.052ff"]]},{"id":"e7ab7c33.052ff","type":"switch","z":"226494b5.ba143c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":800,"wires":[["4d096718.0b4bc8"],["38370eed.246ed2"]]},{"id":"4d096718.0b4bc8","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/Obstacle_Advoidance.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Obstacle Avoidance","x":600,"y":760,"wires":[[],[],[]]},{"id":"38370eed.246ed2","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/stop2.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop Program","x":580,"y":840,"wires":[[],[],[]]},{"id":"ffded579.959378","type":"inject","z":"226494b5.ba143c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":980,"wires":[["c46ce96c.2ebfe8","a9edb27d.b9264"]]},{"id":"c46ce96c.2ebfe8","type":"exec","z":"226494b5.ba143c","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU Temperature","x":410,"y":980,"wires":[["82fa4852.f64bc8"],[],[]]},{"id":"82fa4852.f64bc8","type":"function","z":"226494b5.ba143c","name":"CPU Temperature","func":"str = msg.payload\nmsg.payload = str.substring(5,9)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":980,"wires":[["a05434aa.016ed8"]]},{"id":"a05434aa.016ed8","type":"ui_gauge","z":"226494b5.ba143c","name":"SoC Temperature","group":"4c5051af.59","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":850,"y":980,"wires":[]},{"id":"a9edb27d.b9264","type":"exec","z":"226494b5.ba143c","command":"echo \"CPU `LC_ALL=C top -bn1 | grep \"Cpu(s)\" | sed \"s/.*, *\\([0-9.]*\\)%* id.*/\\1/\" | awk '{print 100 - $1}'`% RAM `free -m | awk '/Mem:/ { printf(\"%3.1f%%\", $3/$2*100) }'` HDD `df -h / | awk '/\\// {print $(NF-1)}'`\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"CPU Load","x":420,"y":1120,"wires":[["80aa73d.1453d9"],[],[]]},{"id":"ad52917c.9ee44","type":"ui_gauge","z":"226494b5.ba143c","name":"CPU Usage","group":"4c5051af.59","order":0,"width":0,"height":0,"gtype":"gage","title":"CPU Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":790,"y":1120,"wires":[]},{"id":"80aa73d.1453d9","type":"function","z":"226494b5.ba143c","name":"CPU Load","func":"str = msg.payload\nmsg.payload = str.substring(4,7)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1120,"wires":[["ad52917c.9ee44"]]},{"id":"cff0e8a2.ee22b8","type":"exec","z":"226494b5.ba143c","command":"echo \"CPU `LC_ALL=C top -bn1 | grep \"Cpu(s)\" | sed \"s/.*, *\\([0-9.]*\\)%* id.*/\\1/\" | awk '{print 100 - $1}'`% RAM `free -m | awk '/Mem:/ { printf(\"%3.1f%%\", $3/$2*100) }'` HDD `df -h / | awk '/\\// {print $(NF-1)}'`\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"RAM","x":400,"y":1240,"wires":[["91fa60a9.fbe57"],[],[]]},{"id":"91fa60a9.fbe57","type":"function","z":"226494b5.ba143c","name":"RAM ","func":"str = msg.payload\nmsg.payload = str.substring(14,16)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1240,"wires":[["85ffc563.fdbe38"]]},{"id":"85ffc563.fdbe38","type":"ui_gauge","z":"226494b5.ba143c","name":"RAM","group":"26881fbe.ad70b","order":0,"width":0,"height":0,"gtype":"gage","title":"RAM","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":810,"y":1240,"wires":[]},{"id":"d48b1535.c95c28","type":"exec","z":"226494b5.ba143c","command":"echo \"CPU `LC_ALL=C top -bn1 | grep \"Cpu(s)\" | sed \"s/.*, *\\([0-9.]*\\)%* id.*/\\1/\" | awk '{print 100 - $1}'`% RAM `free -m | awk '/Mem:/ { printf(\"%3.1f%%\", $3/$2*100) }'` HDD `df -h / | awk '/\\// {print $(NF-1)}'`\"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ROM","x":410,"y":1340,"wires":[["ec86642c.f29478"],[],[]]},{"id":"ec86642c.f29478","type":"function","z":"226494b5.ba143c","name":"ROM","func":"str = msg.payload\nmsg.payload = str.substring(23,25)\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1340,"wires":[["18259641.39d12a"]]},{"id":"18259641.39d12a","type":"ui_gauge","z":"226494b5.ba143c","name":"ROM","group":"26881fbe.ad70b","order":0,"width":0,"height":0,"gtype":"gage","title":"ROM","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"60","x":820,"y":1340,"wires":[]},{"id":"4a4dcedc.77187","type":"inject","z":"226494b5.ba143c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1340,"wires":[["d48b1535.c95c28","cff0e8a2.ee22b8"]]},{"id":"3c807396.0ea48c","type":"ui_button","z":"226494b5.ba143c","name":"","group":"40650cfb.784644","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":100,"wires":[["e9e5f796.e2dd88"]]},{"id":"e9e5f796.e2dd88","type":"exec","z":"226494b5.ba143c","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reset","x":510,"y":100,"wires":[["b582364f.7de8d8"],[],[]]},{"id":"b582364f.7de8d8","type":"ui_text","z":"226494b5.ba143c","group":"40650cfb.784644","order":1,"width":0,"height":0,"name":"","label":"Click here to Reset the Pi","format":"{{msg.payload}}","layout":"row-center","x":760,"y":100,"wires":[]},{"id":"87b9f3e2.ffdf4","type":"ui_button","z":"226494b5.ba143c","name":"","group":"345ccfe.0449b3","order":0,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":40,"wires":[["a4a9ce69.2f88b"]]},{"id":"a4a9ce69.2f88b","type":"exec","z":"226494b5.ba143c","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":530,"y":40,"wires":[["53188ae0.be3504"],[],[]]},{"id":"53188ae0.be3504","type":"ui_text","z":"226494b5.ba143c","group":"345ccfe.0449b3","order":1,"width":0,"height":0,"name":"","label":"Click here to Shutdown the Pi","format":"{{msg.payload}}","layout":"row-center","x":780,"y":40,"wires":[]},{"id":"faa68022.346ea","type":"ui_button","z":"226494b5.ba143c","name":"","group":"4d96e64b.468ff8","order":0,"width":0,"height":0,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":160,"wires":[["fd5274a2.e00af8"]]},{"id":"fd5274a2.e00af8","type":"exec","z":"226494b5.ba143c","command":"sudo apt -update","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Update","x":540,"y":160,"wires":[["4193cc8d.8ce3c4"],[],[]]},{"id":"4193cc8d.8ce3c4","type":"ui_text","z":"226494b5.ba143c","group":"4d96e64b.468ff8","order":1,"width":0,"height":0,"name":"","label":"Click here to Update the Pi","format":"{{msg.payload}}","layout":"col-center","x":790,"y":160,"wires":[]},{"id":"71e1f2f2.7e663c","type":"ui_button","z":"226494b5.ba143c","name":"","group":"89f0fc8e.d2bdd","order":0,"width":0,"height":0,"passthru":false,"label":"HTML Server","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":990,"y":380,"wires":[["d414cd1a.a3d8c"]]},{"id":"d414cd1a.a3d8c","type":"exec","z":"226494b5.ba143c","command":"python3 /home/pi/RoverCode/UI_Rover_WebServer.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":1330,"y":380,"wires":[["a89ef5f.ee7b008"],[],[]]},{"id":"a89ef5f.ee7b008","type":"ui_text","z":"226494b5.ba143c","group":"89f0fc8e.d2bdd","order":1,"width":0,"height":0,"name":"","label":"Click here to start HTML Server","format":"{{msg.payload}}","layout":"row-center","x":1580,"y":380,"wires":[]},{"id":"27d45eb4.f67272","type":"ui_group","name":"Control","tab":"c8d8e245.cc3ec","order":2,"disp":true,"width":"6","collapse":true},{"id":"7c69352b.a96ffc","type":"ui_group","name":"Ultra-Instinct","tab":"213a9d8b.3f05b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c5051af.59","type":"ui_group","name":"CPU Statistics","tab":"4d57f9af.d03378","order":1,"disp":true,"width":"6","collapse":false},{"id":"26881fbe.ad70b","type":"ui_group","name":"Memory Statistics","tab":"4d57f9af.d03378","order":2,"disp":true,"width":"6","collapse":false},{"id":"40650cfb.784644","type":"ui_group","name":"Raspberry Pi Reset","tab":"2889faba.b61276","order":1,"disp":true,"width":"6","collapse":false},{"id":"345ccfe.0449b3","type":"ui_group","name":"Raspberry Pi Shutdown","tab":"2889faba.b61276","order":2,"disp":true,"width":"6","collapse":false},{"id":"4d96e64b.468ff8","type":"ui_group","name":"Raspberry Pi Update","tab":"2889faba.b61276","order":3,"disp":true,"width":"6","collapse":false},{"id":"89f0fc8e.d2bdd","type":"ui_group","name":"HTML Server","tab":"2889faba.b61276","order":4,"disp":true,"width":"6","collapse":false},{"id":"c8d8e245.cc3ec","type":"ui_tab","name":"Rover Control","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"213a9d8b.3f05b2","type":"ui_tab","name":"Obstacle Program","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4d57f9af.d03378","type":"ui_tab","name":"Raspberry Pi Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2889faba.b61276","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]